@model PracticeWebSQL.Models.Account;
@{
    ViewBag.Title = "Удаление пользователя";
}
<div>
    <p>Удален пользователь со следующими данными:</p>
    <dl>
        <dt>Id</dt>
        <dd>
            @Html.DisplayFor(model => model.ID);
        </dd>
        <dt>Email</dt>
        <dd>
            @Html.DisplayFor(model => model.Email);
        </dd>
        <dt>Логин</dt>
        <dd>
            @Html.DisplayFor(model => model.Login);
        </dd>
        <dt>Пароль</dt>
        <dd>
            @Html.DisplayFor(model => model.Password);
        </dd>
        <dt>Роль пользователя</dt>
        <dd>
            @Html.DisplayFor(model => model.Role.RoleName);
        </dd>
    </dl>
    
    <div>
        <form asp-action="DeleteAccount" asp-controller="home" method="post">
            <div class="form-group">
                <input type="submit" value="Вернуться к таблицам" class="btn btn-default"/>
            </div>
        </form>
    </div>
</div>